.header__lang-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 0 6px 0;
    max-width: 30px;
    transition: 1s;
}

.header__lang-link:first-child {
    margin-right: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .header__lang-link  {
        font-size: 18px;
        line-height: 20px;
    }
}