.intro {
    max-width: 984px;
    margin: 92px auto 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Inter", serif, sans-serif;
}

@media screen and (max-width:1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 88px auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin: 64px auto 64px;
    }
}