.cover {
    max-width: 1184px;
    position: relative;
    min-height: 740px;
    margin: 0 auto 87px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif, sans-serif;
}

.cover::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: 1.5s;
}

.cover:hover::after {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin: 0 auto 64px;
    }
}